<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('partials/head') %> 
  <title>Home</title>
</head>

<body>
  
  <%- include('partials/nav') %> 
  <%- include('partials/flash') %> 
    <div class="container-fluid px-0 position-relative cover-image ">
      <img src="https://res.cloudinary.com/dqcdo8wwg/image/upload/v1636509229/CityGetAway/zagijsg47mctvjbufn4u.jpg" alt="3 people looking from a hill" class="img-fluid" >
      <form action="/search" method="GET">
        
        <div class="input-group mb-3 position-absolute top-50 start-50 translate-middle search-inputs">
         
          <input type="text" aria-label="City" class="form-control" placeholder="City" name="city">
          <input type="text" aria-label="State" class="form-control" placeholder="Full State Name" name="state">
          <button class="btn btn-primary" type='submit' id=""><i class="fas fa-search"></i></button>
        </div>
      </form>
    </div>
  

  <section class="container-fluid recommendation-section">
    
    <div class="row text-center ">
      
    
      <h2 class="recommendations_h2">Recommendations</h2>
    </div>
    <div class="row gy-4">
      <% for(let i=0; i<4;i++){ %> 
        <% const recommendation = Math.floor(Math.random()*database.length) %>
        <% const data = database[recommendation] %> 
        <a class="col-sm-6 col-lg-3 d-flex justify-content-center a-card" href="/vacations/<%=data.id%>">
        

          <div class="card card__recommendation">
              <div class="card-img-top">
                <img src='<%= data.imageURL.URL %>'  alt="" >
              </div>
              
              <div class="card-body">
                <p><%= data.city %> , <%= data.state %></p>
              </div>
            </div>
          
        </a>

        <% } %> 
     

    </div>
  </section>
  
  <%- include('partials/footer') %> 

  
</body>

</html>